# Node
node_modules/
npm-debug.log

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/errored.tfstate
terraform/*.tfplan
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Environment
.env
.env.local

# OS
.DS_Store
coverage/
